In [14]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('modified_sales.csv', engine = 'python')

In [20]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,NEW_DATE
0,10107,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,NY,USA,Yu,Kwai,Small,2003-02-24
1,10121,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,Reims,France,Henriot,Paul,Small,2003-05-07
2,10134,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Paris,France,Da Cunha,Daniel,Medium,2003-07-01
3,10145,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,CA,USA,Young,Julie,Medium,2003-08-25
4,10159,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,CA,USA,Brown,Julie,Medium,2003-10-10

In [9]:
data.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [7]:
drop_cells = ['ADDRESSLINE2','POSTALCODE','TERRITORY']
data = data.drop(drop_cells, axis = 1)
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,NY,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,NaN,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,CA,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,CA,USA,Brown,Julie,Medium

In [8]:
data['ORDERDATE'].head(100)

0      2/24/2003 0:00
1       5/7/2003 0:00
2       7/1/2003 0:00
3      8/25/2003 0:00
4     10/10/2003 0:00
           ...
95     8/27/2004 0:00
96     9/30/2004 0:00
97    10/15/2004 0:00
98     11/2/2004 0:00
99    11/15/2004 0:00
Name: ORDERDATE, Length: 100, dtype: object

In [18]:
data['NEW_DATE']=pd.to_datetime(data['ORDERDATE'], infer_datetime_format =True)
data = data.drop(columns=['ORDERDATE'])

In [19]:
date = data['NEW_DATE'].dt.day
date.head()
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,NEW_DATE
0,10107,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,NY,USA,Yu,Kwai,Small,2003-02-24
1,10121,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,NaN,France,Henriot,Paul,Small,2003-05-07
2,10134,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,France,Da Cunha,Daniel,Medium,2003-07-01
3,10145,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,CA,USA,Young,Julie,Medium,2003-08-25
4,10159,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,CA,USA,Brown,Julie,Medium,2003-10-10

In [5]:
state = data['STATE'].unique()
state.sort
state

array(['NY', nan, 'CA', 'Victoria', 'NJ', 'CT', 'MA', 'PA', 'NSW',
       'Queensland', 'BC', 'Tokyo', 'NH', 'Quebec', 'Osaka',
       'Isle of Wight', 'NV'], dtype=object)

In [6]:
city = data['CITY'].unique()
city.sort
city

array(['NYC', 'Reims', 'Paris', 'Pasadena', 'San Francisco', 'Burlingame',
       'Lille', 'Bergen', 'Melbourne', 'Newark', 'Bridgewater', 'Nantes',
       'Cambridge', 'Helsinki', 'Stavern', 'Allentown', 'Salzburg',
       'Chatswood', 'New Bedford', 'Liverpool', 'Madrid', 'Lule',
       'Singapore', 'South Brisbane', 'Philadelphia', 'Lyon', 'Vancouver',
       'Burbank', 'New Haven', 'Minato-ku', 'Torino', 'Boras',
       'Versailles', 'San Rafael', 'Nashua', 'Brickhaven', 'North Sydney',
       'Montreal', 'Osaka', 'White Plains', 'Kobenhavn', 'London',
       'Toulouse', 'Barcelona', 'Los Angeles', 'San Diego', 'Bruxelles',
       'Tsawassen', 'Boston', 'Cowes', 'Oulu', 'San Jose', 'Graz',
       'Makati City', 'Marseille', 'Koln', 'Gensve', 'Reggio Emilia',
       'Frankfurt', 'Espoo', 'Dublin', 'Manchester', 'Aaarhus',
       'Glendale', 'Sevilla', 'Brisbane', 'Strasbourg', 'Las Vegas',
       'Oslo', 'Bergamo', 'Glen Waverly', 'Munich', 'Charleroi'],
      dtype=object)

In [17]:
data['STATE'].fillna(data['CITY'], inplace=True)
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,NEW_DATE
0,10107,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,NY,USA,Yu,Kwai,Small,2003-02-24
1,10121,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,Reims,France,Henriot,Paul,Small,2003-05-07
2,10134,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Paris,France,Da Cunha,Daniel,Medium,2003-07-01
3,10145,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,CA,USA,Young,Julie,Medium,2003-08-25
4,10159,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,CA,USA,Brown,Julie,Medium,2003-10-10

In [12]:
for col in data.columns:
    print(f'Number of {col} unique values: {data[col].nunique()}')

Number of ORDERNUMBER unique values: 307
Number of QUANTITYORDERED unique values: 58
Number of PRICEEACH unique values: 1016
Number of ORDERLINENUMBER unique values: 18
Number of SALES unique values: 2763
Number of ORDERDATE unique values: 252
Number of STATUS unique values: 6
Number of QTR_ID unique values: 4
Number of MONTH_ID unique values: 12
Number of YEAR_ID unique values: 3
Number of PRODUCTLINE unique values: 7
Number of MSRP unique values: 80
Number of PRODUCTCODE unique values: 109
Number of CUSTOMERNAME unique values: 92
Number of PHONE unique values: 91
Number of ADDRESSLINE1 unique values: 92
Number of CITY unique values: 73
Number of STATE unique values: 16
Number of COUNTRY unique values: 19
Number of CONTACTLASTNAME unique values: 77
Number of CONTACTFIRSTNAME unique values: 72
Number of DEALSIZE unique values: 3
Number of NEW_DATE unique values: 252

In [14]:
data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [15]:
data.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
CITY                   0
STATE               1486
COUNTRY                0
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
NEW_DATE               0
dtype: int64

In [18]:
data.to_csv('modified_sales.csv', index=False)